@import 'styles/_colors.scss';
@import 'styles/_typography.scss';
@import 'styles/_components.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem; // 32px
  
  padding: 1.25rem; // 20px
  background-color: $white;
  border: 1px solid $grey-200;
  border-radius: 0.75rem; // 12px
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem; // 20px
}

.title {
  @extend .title-s-bold;
}

.applyBtn {
  @extend %button;
  height: 2.5rem; // 40px
}