.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1.75rem; // 28px
}

.aside {
  flex: 0 0 19.6875rem; // 315px
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem; // 16px;
}

.jobs {
  display: flex;
  flex-direction: column;
  row-gap: 1rem; // 16px;
}