@import 'styles/_colors.scss';
@import 'styles/_typography.scss';

%button {
  border-radius: 0.5rem; // 8px
  @extend .subtitle-s-regular;
  background-color: $blue-main-500;
  color: $white;
  font-weight: 500;
  line-height: 1.3125rem; // 21px
  
  &:hover {
    background-color: rgba($blue-main-500, 0.9);
  }
  
  &:active {
    transform: scale(0.99);
  }
}

%input {
  border: 1px solid $grey-300;
  border-radius: 0.5rem; // 8px
  @extend .subtitle-s-regular;
}