@import 'styles/_typography.scss';
@import 'styles/_components.scss';

.label {
  @extend .text-base-m-bold;
  margin-bottom: 0.5rem; // 8px
}

.input {
  @extend %input;
  height: 2.625rem; // 42px
  padding: 0.6875rem 0.75rem; // 11px 12px
  padding-right: 2.25rem; // 36px
}