.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.links {
  display: flex;
  flex-direction: row;
  column-gap: 3.75rem; // 60px
}

@media (max-width: 30rem /* 480px */) {
  .logo {
    display: none;
  }

  .links {
    column-gap: 1.5rem; // 24px
  }
}